<header id="header">
    <div class="header-inner flex space-between">

        <div class="menu-drawer">
            <button class="menu-button"></button>
            <span>{{ 'header.nav.menu' | t }}</span>
        </div>

        <a class="header-title" href="/">{{ 'general.shop.title' | t | downcase }}</a>
        
        <div class="cart-button-container">
            <button class="cart-button"></button>
            <span>
                <template v-if="cart">
                    {{ 'header.nav.cart' | t }} (${cart.item_count})
                </template>
            </span>
        </div>

    </div>

    <div class="mini-cart">
        {% render 'mini-cart' %}
    </div>


</header>

<script>
    if (document.querySelector('#header')) {
        const headerCart = Vue.createApp({
            delimiters: ['${', '}'],
            data() {
                return {
                    cartData: store.state.cartState
                }
            },
            methods: {

            },
            computed: {
                miniCart(){
                    return miniCartState.hidden
                },
                menuDrawer(){
                    return menuState.hidden
                },
                cart(){
                    return this.cartData[0]
                }
            },
            // when header loads, gets cart data from Shopify
            created(){
                store.getCart()
            }
        }).mount('#header')
    }

</script>