<div class="rich-text section">
    <h2 class="heading">
        {{ section.settings.title }}
    </h2>
    {% if section.settings.text %}
        <div class="subhead">
            {{ section.settings.text }}
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Hero Headline",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Section Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Description (optional)",
            "default": "<p>Write description here.</p>"
        }
    ],
    "presets": [
        {
            "name": "Rich Text",
            "category": "Text"
        }
    ]
}
{% endschema %}