<div class="container">
  <div id="collection">
    <h1 class="collection-title">{{ collection.title }}</h1>
    <div class="collection-list flex flex-wrap">
        {% render 'product-card' for collection.products as product %}
    </div>
  </div>
</div>
