<div class="container">
    <div id="list-collection">
        {% for collection in collections %}
            {% unless collection.handle == 'frontpage' %}
                {% capture collection_title %}
                    {{ collection.title | escape }}
                {% endcapture %}
                <a href="{{ collection.url }}"><h1 class="collection-title">All
                    {{ collection_title }}
                    &rsaquo;</h1></a>
                <div class="collection-list flex flex-wrap">
                    {%- for product in collection.products limit: 4 -%}
                        {% render 'product-card' for product as product %}

                    {%- endfor -%}
                </div>
            {% endunless %}
        {% endfor %}
    </div>
</div>
